@using Vypr.Client.Configuration
@using VyprCore.RazorComponents.Layouts
@using VyprCore.RazorComponents.Loaders
@using VyprCore.RazorComponents.Pages.Auth
@using VyprCore.RazorComponents.Pages.Error

@inject IJSRuntime JSRuntime  

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies=@ApplicationAssemblies.GetReferencedAssemblies() PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(VyprEmptyLayout)">
                <Authorizing>
                    <VyprPageSpinner Class="vypr-spinner" Overlay=@false />
                </Authorizing>
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <VyprRedirectToLogin UseWebAuthn=@true />
                    }
                    else
                    {
                        <p>You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(VyprEmptyLayout)">
                <VyprRedirectTo404 />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>